.cursor{
  font-size: 1.2em;
  color: rgb(251, 228, 97);
}



.home-container{
  padding: 0px !important;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  border-radius: 7px;
  border: 1px solid grey;
}

.horizontal-rule{
  color: white;
}

.icon-1{
  color: orangered
}

.icon{
  cursor: pointer;
  margin-right: 10px;
}
.icon-2{
  color: yellow
}
.icon-3{
  color: rgb(6, 186, 6)
}

.icon-container{
  display: flex;
  align-items: center;
  justify-content: center; 
}

.header-text, .header-text a{
  text-decoration: none;
  color: grey;
  margin: 0px !important;
  flex-grow: 1;
  text-align: center;
  font-weight: bold;
}

.content{
  padding: 10px;
  margin-top: -20px;
}

.question{
  color: rgb(88, 177, 255);
  font-size: 15px;
  margin-left: 10px;
}

.subtext{
  margin-top: -15px;
  margin-left: 30px;
  font-size: 14px;
  color: rgb(233, 232, 232);
}

.pre-text-highlight{
  color: rgb(255, 255, 163);
}

.directory-highlight{
  color: rgb(88, 177, 255);
}


.input-text{
  background: none !important;
  border: none;
  color: rgb(233, 232, 232);
  outline: none;
  margin-left: 8px ;
}
.input-container{
  display: flex;
}

.input-text:focus{
  border: none !important;
}


.result-text{
  background: none !important;
  border: none;
  color: rgb(233, 232, 232);
  outline: none;
  margin-left: 8px ;
  margin-top: 10px;
}

.tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.tooltip-text {
  visibility: hidden;
  width: 120px;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}

.social-table,th,td{
  background-color: rgb(20, 20, 20) !important;
  border: 1px solid grey !important;
  padding: 10px;
}

.social-table td, tr{
  color: rgb(233, 232, 232);
}

@media screen and (min-width:700px) and (max-width:1000px) {
  .home-container{
    width: 60vw !important;
    background-color: rgb(34, 34, 34);
  }

  .icon-container{
    margin-bottom: -16px !important;
  }

  .header-text{
    font-size: 14px;
  }
  .icon{
    font-size: 14px;
  }

  .input-text{
    margin-top: -18px;
  }  
}

@media screen and (min-width:1001px) {
  .home-container{
    width: 40vw !important;
    background-color: rgb(34, 34, 34);
  }

  .icon-container{
    margin-bottom: -16px !important;
  }

  .header-text{
    font-size: 14px;
  }
  .icon{
    font-size: 14px;
  }

  .input-text{
    margin-top: -18px;
  }  
}


@media screen and (min-width:300px) and (max-width: 400px) {
  .home-container{
    width: 90vw !important;
    background-color: rgb(34, 34, 34);
  }
  p{
    font-size: 12px !important;
  }

  .icon-container{
    margin-bottom: -18px !important;
  }

  .header-text{
    font-size: 14px;
  }
  .icon{
    font-size: 13px !important;
  }

  .input-text{
    margin-top: -18px;
  }  
}



@media screen and (min-width:401px) and (max-width: 699px) {
  .home-container{
    width: 90vw !important;
    background-color: rgb(34, 34, 34);
  }
  p{
    font-size: 12px !important;
  }

  .icon-container{
    margin-bottom: -18px !important;
  }

  .header-text{
    font-size: 14px;
  }
  .icon{
    font-size: 13px !important;
  }

  .input-text{
    margin-top: -18px;
  }  
}
