body{
    overflow-x: hidden !important;
    background-color: rgb(20, 20, 20) !important;
    font-family: "Fira Code", monospace !important;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}


p{
    color: rgb(225, 224, 224);
    font-weight: bold;
    font-size: 14px;
}